@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

body {
    font-family: 'Prompt', sans-serif;
}

.gradient-cta {
    background-image: linear-gradient(120deg, rgb(0, 0, 0), rgb(0, 0, 0)), linear-gradient(120deg, #AD00FF, #ffffff, #00D1FF);
    background-clip: padding-box, border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.animated {
  -webkit-animation-duration: 1s;animation-duration: 1s;
  -webkit-animation-fill-mode: both;animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.loader {
  background: linear-gradient(145deg, #000000, #00d0ff43, #000000, #ae00ff4d, #000000);
  background-size: 1000% 1000%;

  -webkit-animation: loader 20s ease infinite;
  animation: loader 20s ease infinite;
}

@-webkit-keyframes loader {
  0% { background-position: 50% 0% }
  50% { background-position: 50% 100% }
  100% { background-position: 50% 0% }
}
@keyframes loader {
  0% { background-position: 50% 0% }
  50% { background-position: 50% 100% }
  100% { background-position: 50% 0% }
}

.loaderBlue {
  animation: pulsatingBlue 6s ease-in-out infinite alternate;
   -webkit-animation: pulsatingBlue 6s ease-in-out infinite alternate;
}

@-webkit-keyframes pulsatingBlue {
  0%   { 
          background: -webkit-radial-gradient(ellipse at bottom left, #00D1FF 0%, rgba(255,255,255,0) 70%);
          opacity:1;
      }
  100%   { 
          background: -webkit-radial-gradient(ellipse at bottom left, #00D1FF 0%, rgba(255,255,255,0) 70%);
          opacity:0;
      }
}

@keyframes pulsatingBlue {
  0%   {     
          background: radial-gradient(ellipse at bottom left, #00D1FF 0%, rgba(255,255,255,0) 70%);
          opacity:1;                
      }
  100%   {     
          background: radial-gradient(ellipse at bottom left, #00D1FF 0%, rgba(255,255,255,0) 70%);
          opacity:0;                
      }
}

.loaderPurple {
  animation: pulsatingPurple 2s ease-in-out infinite alternate;
   -webkit-animation: pulsatingPurple 2s ease-in-out infinite alternate;
}

@-webkit-keyframes pulsatingPurple {
  0%   { 
          background: -webkit-radial-gradient(ellipse at bottom right, #AD00FF 0%, rgba(255,255,255,0) 65%);
          opacity:1;
      }
  100%   { 
          background: -webkit-radial-gradient(ellipse at bottom right, #AD00FF 0%, rgba(255,255,255,0) 65%);
          opacity:0;
      }
}

@keyframes pulsatingPurple {
  0%   {     
          background: radial-gradient(ellipse at bottom right, #AD00FF 0%, rgba(255,255,255,0) 65%);
          opacity:1;                
      }
  100%   {     
          background: radial-gradient(ellipse at bottom right, #AD00FF 0%, rgba(255,255,255,0) 65%);
          opacity:0;                
      }
}